<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=windows-1252" http-equiv="content-type">
    <title></title>
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>
  <body style="height: 40px;">
    <h1 id="azul">Pagina de Carga Web</h1>
    <p><br>
    </p>
    <form method="POST" action="" ><br>
      <div id="especial" style="text-align: center;"> IP Host&nbsp;
        <input type="text" name="hostName">
      </div>
      <div id="especial" style="text-align: center;"> Nombre del Host&nbsp;
        <input type="text" name="fantasyName">
      </div>
      <div style="text-align: center;">
        <input type="submit" value="Enviar"><br>
      </div>
    </form>
    
  </body>
</html>
